/*VOOR KNOP BORDER RADIUS HAHHAHAHHAHAA*/


/*WEBSITE OPEN ANIMATION*/
@keyframes openn {
    from {opacity: 0%;}
    to {opacity: 100%}
}

.js-loading *,
.js-loading *:before,
.js-loading *:after {
  animation-play-state: paused !important;
}
#jumbotron_sine_wave_canvas{
    margin-top: 300px;
}

body{
    opacity: 0%;   
}

.jumbotron{
    min-height: 100vh;
}


@font-face {
    font-family: "Baskerville";
    src: url('../fonts/BASKVILL.TTF');
}

@font-face {
    font-family: "Agency";
    src: url('../fonts/AGENCYR.TTF');
}

/*VERWIJDERD DE SCROLLBAR*/
/* Hide scrollbar for Chrome, Safari and Opera */
body::-webkit-scrollbar {
    display: none;
}
  
/* Hide scrollbar for IE, Edge and Firefox */
body {
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
}


p{
    margin-bottom: 0rem;
}


#logo{
    width:50%;
    margin-top: 1.5625rem;
}

h1{
    color:#707070;
    margin-top: -1.9rem;
    text-transform: lowercase;
}

#btn_meerInfo{
    border-width: 0px;
    background-color: rgb(131, 131, 131);
    color: white;
}
.navbar-inner {
    background-color:transparent;
}

.divider{
    height: 2rem;
    background-color: #E64143;
}
.red{
    background-color: #E64143;
}

.blue{
    background-color: rgb(41, 66, 148);
}

#about{
    background-color: rgba(230, 65, 67, 0.55);
    min-height: 200px;
    
}

#onzeWerken{
    background-color: rgb(144,156,196);
    min-height: 200px;
    
}

h2{
    color: white;
    font-size: 3.4375rem;
    font-family: "Baskerville";
    margin-top: 2.8125rem;
}

#about_txt{
    margin-top: 1.25rem;
    color:white;
    font-size: 1.25rem;
    padding-bottom: 10.125rem;
    font-size: 1.6875rem;
}

h3{
    color:white;
    font-family: "Agency";
}

#onzeWerken{
    padding-bottom: 50px;
}

.slideshowsize{
    margin-top:40px;
    
    /*media querry controled*/
    width: 50%;
    height: 50%;
}

.vectoren_bot{
    margin-top: 40px;
}
#comic_full_vector{
    background-color: white;
}
.vector_full_height{
    height: 100%;
    width: 100%
}

#h3_vectoren{
    margin-bottom: 60px;
}


a{
    font-family: "Agency";
    font-size: 1.5rem !important;
}
p{
    font-family: "Agency";
}


#videos{
    margin-top: 100px;
}

h4{
    font-family: "Baskerville";
    font-size: 3.125rem;
}

#video_description{
    font-size: 1.25rem;
}

#typo{
    margin-top: 50px;
}

footer{
    background-color: #E64143;
}

footer p{
    font-size: 30px;
    color:white;
}

.iframe-container{
    position: relative;
    width: 100%;
    padding-bottom: 56.25%; 
    height: 0;
  }
  .iframe-container iframe{
    position: absolute;
    top:0;
    left: 0;
    width: 100%;
    height: 100%;
  }

#typo-phone{
    display:none;
}
/*why doesn't it work (┛◉Д◉)┛彡┻━┻ */
.forking-align-dumb-bitch{
    margin-top: 10px;
}

#copyright{
    font-size: 1rem !important;    
}

@media screen and (max-width: 768px) {
    .slideshowsize{
        width: 80%;
        height: 80%;
    }

    #typo-phone{
        display:block !important;
        margin-top: 40px;
    }
    #typo{
        display:none;
    }

    #about_txt{
        font-size: 1.3rem;
        width: 85%;
    }

    

}

/*fixes button on phones*/
@media screen and (max-width: 700px) {
    h1{
        margin-top: 14vh;
    }

    #btn_meerInfo{
        display: none !important;
    }
}

@media screen and (max-width: 760px){
    .dots_nav-outside .square1_dots{
        bottom: -40% !important;
    }

    
}

/*fixes vectoren*/
@media screen and (max-width: 768px) {
    .img_phone_bot{
        margin-bottom: 10px;;
    }

    .vectoren_bot{
        margin-top: 0px;
    }
}

